<div class="panel-heading">{{ element.serverName }}</div>
<div class="panel-body">
  <p>
    <strong *ngIf="element.type === 'server'" style="color: red">{{
      element.serverContent
    }}</strong>
    <em *ngIf="element.type === 'blueprint'">{{ element.serverContent }}</em>
  </p>
</div>

<div class="panel-heading">{{ element.serverName }}</div>
<div class="panel-body">
  <p>
    <strong *ngIf="element.type === 'blue'" style="color: blue">{{
      element.serverContent
    }}</strong>
    <em *ngIf="element.type === 'blueprint'">{{ element.serverContent }}</em>
  </p>
</div>
